@inject HttpClient Http

<div>
    <table>
        @for(int row = 0; row < 9; row++)
        {
            <tr>
            @for(int col = 0; col < 9; col++)
            {
                <td>@boardState[row,col]</td>
            }
            </tr>
        }
    </table>
</div>

@functions {
    // Demonstrates how a parent component can supply parameters
    [Parameter] string Title { get; set; }

    int?[,] boardState;

    protected override void OnInit()
    {
        boardState = new int?[,]
        {
            {1,2,3,4,5,6,7,8,9},
            {2,3,4,5,6,7,8,9,1},
            {3,4,5,6,7,8,9,1,2},
            {4,5,6,7,8,9,1,2,3},
            {5,6,7,8,9,1,2,3,4},
            {6,7,8,9,1,2,3,4,5},
            {7,8,9,1,2,3,4,5,6},
            {8,9,1,2,3,4,5,6,7},
            {9,1,2,3,4,5,6,7,8},
        };
    }
}
