@using Blazor.Client.Models;
@using Blazor.Client.Services;

@inject ISudokuService Sudoku

<div>
    <table>
        @for(int row = 0; row < 9; row++)
        {
            <tr>
            @for(int col = 0; col < 9; col++)
            {
                <SudokuSquare Cell="Grid.Grid[row,col]" />
                //<td class="unselectable">0</td>
            }
            </tr>
        }
    </table>
</div>

@functions {
    SudokuGrid Grid;

    protected override void OnInit()
    {
        Grid = Sudoku.CreatePuzzle();
    }
}
