@inherits LayoutComponentBase

<!--<div class="sidebar">
    <NavMenu />
</div>-->

<div class="main">
    <div class="top-row">
        <a href="https://github.com/jbmadsen/blazor-demo" target="_blank" class="ml-md-auto">watch on github.com</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
